RewriteEngine On

# Every request is sent to web handler

RewriteRule ^(es|en)$ back/core/main.php?controller=me&action=index&lang=$1 [NC,L]

RewriteRule ^([A-Za-z0-9._]+)[/]?$    back/core/main.php?controller=$1&action=index&lang=en   [NC,L]
RewriteRule ^(es|en)?$    back/core/main.php?controller=me&action=index&lang=$2   [NC,L]
RewriteRule ^([A-Za-z0-9._]+)/(es|en)?$    back/core/main.php?controller=$1&action=index&lang=$2   [NC,L]

RewriteRule ^([A-Za-z0-9._]+)[/](([0-9])+)$    back/core/main.php?controller=$1&action=get&id=$2   [NC,L]
RewriteRule ^([A-Za-z0-9._]+)[/]([A-Za-z]([A-Za-z0-9._])+)$    back/core/main.php?controller=$1&action=$2   [NC,L]
RewriteRule ^([A-Za-z0-9._]+)[/](([0-9])+)[/]([A-Za-z][A-Za-z0-9._]+)$    back/core/main.php?controller=$1&action=$4&id=$2   [NC,L]